@model List<AppUser>
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Basic Bootstrap Table -->
<div class="card">
    <h5 class="card-header">Kullanıcı Listesi</h5>
    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Kullanıcı Adı</th>
                    <th>Rol Ata</th>
               
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var item in Model)
                {

                    <tr>
                        <td>@item.UserName</td>
                        <td><a href="/Admin/Role/AssignRole/@item.Id" class="btn btn-outline-info">Rol Ata</a></td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
