@model VisitorViewModel
@{
    ViewData["Title"] = "UpdateVisitor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-xl">
	<div class="card mb-4">
		<div class="card-header d-flex justify-content-between align-items-center">
			<h5 class="mb-0">Api ile Ziyaretçi Güncelle</h5>
		</div>
		<div class="card-body">
			<form method="post">
				<input type="hidden" asp-for="VisitorID" />
				<div class="mb-3">
					<label class="form-label" for="basic-default-fullname">Ad</label>
					<input type="text" asp-for="Name" class="form-control" />
				</div>
				<div class="mb-3">
					<label class="form-label" for="basic-default-fullname">Soyad</label>
					<input type="text" asp-for="Surname" class="form-control" />
				</div>
				<div class="mb-3">
					<label class="form-label" for="basic-default-fullname">Şehir</label>
					<input type="text" asp-for="City" class="form-control" />
				</div>
				<div class="mb-3">
					<label class="form-label" for="basic-default-fullname">Ülke</label>
					<input type="text" asp-for="Country" class="form-control" />
				</div>
				<div class="mb-3">
					<label class="form-label" for="basic-default-fullname">Mail</label>
					<input type="text" asp-for="Mail" class="form-control" />
				</div>

				<button class="btn btn-success">Güncelle</button>
			</form>
		</div>
	</div>
</div>




