@model ResetPasswordViewModel
@{
    Layout = null;
}

@*<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
	<br /><br />
	<h4>Şifre Yenileme Sayfası</h4>
	<br />
	<form method="post">
		<label>Şifrenizi Giriniz</label>
		<input type="text" class="form-control" asp-for="Password" />
		<br />
		<label>Şifrenizi Tekrar Giriniz</label>
		<input type="text" class="form-control" asp-for="ConfirmPassword" />
		<br />
		<button class="btn btn-primary">Şifreyi Güncelle</button>
	</form>
</div>*@
@*traversalcore8@gmail.com*@



<!DOCTYPE html>
<html lang="en">
<head>
	<title>Şifre Yenile</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="~/Login_v1/images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Login_v1/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Login_v1/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Login_v1/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Login_v1/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Login_v1/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Login_v1/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/Login_v1/css/main.css">

	<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login101">

				<form class="login100-form validate-form" id="passwordResetForm">
					<span class="login100-form-title">
						Şifre Yenile
					</span>

					<div class="wrap-input100 validate-input" data-validate="Geçerli bir e-posta adresi gereklidir: örn. ex@abc.xyz">
						<input class="input100" type="text" asp-for="Password"placeholder="Şifrenizi Giriniz" >
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Geçerli bir e-posta adresi gereklidir: örn. ex@abc.xyz">
						<input class="input100" type="text" asp-for="ConfirmPassword" placeholder="Tekar Şifre" >
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" id="sendButton">
							Güncelle
						</button>
					</div>
				</form>

			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal" id="successModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Başarılı!</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					Şifre yenileme bağlantısı mail adresinize gönderildi.
				</div>
			</div>
		</div>
	</div>
	<!--===============================================================================================-->
	<script src="~/Login_v1/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/Login_v1/vendor/bootstrap/js/popper.js"></script>
	<script src="~/Login_v1/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/Login_v1/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/Login_v1/vendor/tilt/tilt.jquery.min.js"></script>

	<!--===============================================================================================-->
	<script src="~/Login_v1/js/main.js"></script>


	<script>
		// JavaScript kodu
		document.getElementById('sendButton').addEventListener('click', function () {
			// E-posta adresini alın
			var email = document.getElementById('emailInput').value;

			// Şifre sıfırlama işlemi ve e-posta gönderme işlemini burada gerçekleştirin.
			// ...

			// Modal penceresini açın
			var modal = document.getElementById('successModal');
			modal.style.display = 'block';

			// Modal penceresini kapatmak için "X" düğmesine tıklandığında
			modal.querySelector('.close').addEventListener('click', function () {
				modal.style.display = 'none';
			});
		});
	</script>





</body>
</html>