@model IEnumerable<BookingHotelSearchViewModel.Result>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}


<div class="card">
    <h4 class="card-header">Booking Otel Rezarvasyon Sayfası</h4>
    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Otel Adı</th>
                    <th>Otel Puanı</th>
                    <th>Otel Değerlendirmesi</th>
                    <th>Detaylar</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <th>@count</th>
                        <td>@item.name</td>
                        <td>@item.reviewScore</td>
                        <td>@item.reviewScoreWord</td>
                        <td><a href="#" class="btn btn-outline-dark">Detaylar</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

